*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    margin-top: 12px;
    background-color: #dfeeef;
    color: #383723;
    
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #383723; */
}
nav button{
    width: 90px;
    text-decoration: none;
    color: #173b40;
    background-color: rgb(135, 166, 169);
    border-radius: 30px;
    padding: 04px 08px;
    margin-right: 8px;
    border: none;
    padding: 12px;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    
}

nav h2{
    margin-left: 12px;
}
.inner{
    width: 80px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-radius: 4px;

}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.innerContainer{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 400px;
    width: 330px;
    background-color: black;
    border-radius: 30px;
    color: aliceblue;
    margin: 12px;
    overflow: hidden;
    margin-left: 40px;
}
.innerContainer h2{
    width: 200px;
    margin-left: 12px;
    margin-bottom: 30px;
    opacity: 0;
}
.innerContainer img{
    height: 500px;
    width: 386px;
    
}

.title{
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 30px;
   
}
.title h1{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    margin-left: 48px;
    width: 250px;
    text-align: center;
    /* background-color: aqua; */
}
.title p{
    display: flex;
    align-items: center;
    justify-content: end;
    /* margin-top: 12px; */
    width: 350px;
    text-align: center;
    /* background-color: aqua; */
}
.btn{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 10%;
}
.btn button{
   width: 80%;
   height: 58px;
   border-radius: 30px;
   border: 1px rgb(41, 41, 41);
   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.13);
   transition: 2s;
   background-color: rgb(135, 166, 169);
   color: #383723;
}
.btn button:hover{
    background-color: rgb(87, 109, 111);
    color: #E0DECF;
}
.innerContainer:hover{
    background-color: blue;
    transition: 2s;
}
.topContener{
    background-color: #383723;
}
.imgs{
    background-color: #79d2d8;
    width: 100%;
    height: 100%;
}
.imgs img{
    margin: 6px;
    border-radius: 10px;
    width: 30%;
}