.searchbar{
    background-color: rgb(0, 0, 0);
    height: 40px;


}

.heading{
    padding-left: 30%;
}




.button2 button{
    width: 50px;
    height: 30px;
    border-radius: 30px;
    border: none;
}


